body {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
  }
  a {
    text-decoration: none;
  }
  /* header section start */
  .icofont-bag,
  .icofont-user,
  .icofont-world {
    font-size: 30px;
    color: rgb(224, 10, 153);
  }
  .profile li a i{
    font-size: 25px;
    color:rgb(194, 7, 116);
    margin-right: 5px;
  }
  
  .icofont-world {
    font-size: 30px;
    color: rgb(224, 10, 153);
    margin-right: 6px;
  }
  .navbar {
    background-color: rgb(254, 254, 254);
  }
  .navbar-brand img {
    width: 180px;
    height: 40px;
  }
  .nav-link {
    font-size: 18px;
    color: black;
  }
  /* header section end */
  /* payment section start */
  .refound{
    width: 1000px;
    margin: auto;
  }
  .acount{
    border-radius: 5px;
    box-shadow: 3px 3px 10px gainsboro;
    padding: 20px;
    
  }
  .payment{
    border-radius: 5px;
    box-shadow: 3px 3px 10px gainsboro;
    padding: 20px;
  }
  .back-to-home{
    border-radius: 5px;
    border: 1px solid red;
    padding: 15px;
    margin: 15px;
  }
  .terms{
    border-radius: 5px;
    border: 1px solid red;
    padding: 15px;
    margin: 15px;
  }
  /* payment section end */
  /* footer section start */
.footer-section {
    background-color: azure;
}
.logo img{ 
    width: 180px;
    height: 40px;
}
.icon i{
    font-size: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.country{
    border-right: 1px solid #ddd;
}

/* footer section end */